* {
	font-family: "Montserrat", sans-serif;
	box-sizing: border-box;
}
body {
	margin: 0;
}
div {
	border:  ;	
}
.row::before, .row::after {
	content:"";
	display: table;
}
.row::after {
	clear: both;
}
.main-carousel {
	position: relative;
}
.button-group {
	position: absolute;
	top:60px;
	left: 10px;
}
.button {
	background-color: inherit;
	border: 1px solid #345461;
	color: #345461;
	width: 100px;
	height: 30px;
	border-radius: 5px;
	font-size: 12px;
	text-align: center;
	transition: 0.2s;
}
.button:hover {
	background-color:#345461 ;
	color: white;
	border: none;
	cursor: pointer;
}
.carousel-cell {
  width: 100%; 
  height: 50vh;
  min-height: 250px; 
  background-size: cover;
	background-position: center;
}
.carousel-cell > h1 {
  text-align: center;
	font-size: 60px;
	color: white;
	font-weight: 900;
	line-height: 50vh;

	text-shadow: 1px 1px 2px  black;
	letter-spacing: .1rem;
}

.progress-bar {
  height: 5px;
  width: 0;
  background: #345461;
}
.container2 {
	max-width: 1200px;
	margin: 0 auto;
	
}
.flickity-page-dots {
  display: none;
}
.container {
	max-width: 1200px;
	margin: 0 auto;

}
.container::before, .container::after {
	content:"";
	display: table;
}
.container::after {
	clear: both;
}
img {
 margin-top: 10px;
}
header {
	background-color: #345461;
	min-height: 50px;
}
header > nav ul {
	padding: 0;	
	margin: 0 auto;
	list-style: none;
	float: right;
}
nav ul > li {
 	display: inline-block;
 	box-sizing: border-box;
 	line-height: 50px;
}

ul > li > a {
	padding: 0 10px;
    text-decoration: none;
    color: #ccc;
    transition: 0.2s;
}
ul > li > a:hover {
	color: #fff;
}


.last h2 {
	font-size: 30px;
	color: #345461;
	text-transform: uppercase;
}
.last p {
	font-weight: 100;
}
.map {
	width: 100%;
	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.2s;
}
.map:hover {
	width: 100%;
	-webkit-filter: none;
    filter: none;
    cursor: pointer;
    transform: scale(1.01);
}
footer  {
	margin: 0;
	padding: 5px 0;
	text-align: center;
	font-weight: 100;
	font-size: 12px;
	background-color: #345461;
	color: #fff;
}
/*MEDIA*/
@media (max-width: 1200px){
	body {
		width: 100%;	
	}
}
@media (max-width: 767px) {
	nav img {
		display: block;
		margin: 10px auto 0;
	}
	nav ul {
		width: 100%;
		text-align: center;
	}
	nav ul li {
 		width: 100%;
 		text-align: center;
	}
	.row .col-2 {
		width: 100%;
	}
	.row .col-offset-1{
		display: none;
	}
	.photo {
		margin: 5vh auto 35vh;
	}
	.photo .pic {
		margin-top: 10px;
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.button-group {
	position: absolute;
	top:190px;
}
}
